.modalOverlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: var(--overlay);
    z-index: 10;
    display: none;
}

.modalBody {
    position: relative;
    height: 325px;
    width: 250px;
    background-color: var(--white);
    border-radius: var(--radius);
    box-shadow: var(--shadow);
    z-index: 20;
}

.fa-times-hexagon {
    transform: rotate(90deg);
    position: relative;
    transition: .3s;
    color: var(--black);
}
.fa-times-hexagon:hover {
    cursor: pointer;
    color: var(--color2);
}

.modalInput {
    width: 215px;
    height: 30px;
}