/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
    box-sizing: border-box;
}
/* ----- END RESET ----- */
:root {
	--color1: rgba(140,15,196,1);
	--color1D: #460862;
	--color2: rgba(255,55,110,1);
	--color3: rgba(255,193,71,1);
	--color4: #00B6A3;
	--color4D: #009282;
	--white: rgba(255, 255, 255, .95);
	--whiteT: rgba(255, 255, 255, .40);
	--black: #001210;
	--gradient: linear-gradient(130deg, var(--color1D) 0%, var(--color2) 68%, var(--color3) 100%);
	--overlay: rgba(0, 0, 0, 0.5);
	--radius: 7px;
	--shadow: 12px 12px 20px 0px rgba(0,0,0,0.35);
}

.App {
	min-height: 100vh;
	width: 100wv;
	background: var(--gradient);
}

h1, h2, h3, h4, h5, h6, p {
	color: var(--white);
}

.centerMyStuff {
	display: flex;
	justify-content: center;
	align-items: center;
}

.centerMyStuffV {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
}

.showMe {
	border: solid white 1px;
}